/* WordCloud.css */

.word-cloud-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #ffffff; /* Slightly off-white for softer background */
  padding: 1rem;
  box-sizing: border-box;
}

.word-cloud-container {
  margin-bottom: 2rem;
  width: 100%;
}

.word-cloud-canvas {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.navigate-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0f2f96;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navigate-btn:hover {
  background-color: #DA5367;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .navigate-btn {
    font-size: 0.9rem;
  }

  .word-cloud-wrapper {
    padding: 1rem;
  }
}
