/* WordCloud.css */

.word-cloud-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #F39C12, #FF8A80, #A29BFE); /* Gradient for the wrapper, not the canvas */
  padding: 2rem;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
  animation: fadeIn 1s ease-in-out;
}

.word-cloud-container {
  margin-bottom: 2rem;
}

.word-cloud-canvas {
  background-color: transparent; /* Transparent background for the canvas */
  display: block;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.navigate-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #FF8F34; /* Updated button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
 
}

.navigate-btn:hover {
  background-color: #DA5367; /* Updated hover color */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
